:root {
  --color-text: #333333;
  --color-fon: #FFFFFF;
  --color-text-accent:#BDBDBD;
  --color-text-content:#000000;
}

body {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
}

a {
  outline: 0;
  text-decoration: none;
}

button {
  outline: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
}

body {
  background-color: var(--color-fon);
  color: var(--color-text);
  text-decoration: none;
  margin: 0;
}

.conteiner {
  max-width: 380px;
  margin: 0px auto;
  padding: 5px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .conteiner {
    max-width: 768px;
    margin: 0px auto;
    padding: 0 50px;
  }
}
@media (min-width: 1440px) {
  .conteiner {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 135px;
  }
}

.img_conteiner {
  overflow: hidden;
  text-align: center;
}

img {
  background-size: 100% auto;
}

.conteiner_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .burger {
    display: none;
  }
}
@media (min-width: 1440px) {
  .burger {
    display: none;
  }
}

.site_nav {
  display: none;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .site_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .site_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav_list a {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text);
}
.nav_list a:hover, .nav_list a:focus {
  color: var(--color-text-accent);
}
@media (min-width: 768px) and (max-width: 1439px) {
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .nav_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.activ {
  border-bottom: 1px solid var(--color-text);
  border-top: 1px solid var(--color-text);
}

@media (min-width: 1440px) {
  .logo {
    margin-right: 330px;
  }
}

.hero {
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .hero {
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .hero {
    margin-bottom: 120px;
  }
}

@media (min-width: 1440px) {
  .conteiner_hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.conteiner_title {
  text-align: center;
}
@media (min-width: 1440px) {
  .conteiner_title {
    text-align: left;
  }
}

.title {
  font-weight: 300;
  font-size: 40px;
  line-height: 40px;
  color: var(--color-text-accent);
}
@media (min-width: 768px) and (max-width: 1439px) {
  .title {
    font-size: 64px;
    line-height: 64px;
  }
}
@media (min-width: 1440px) {
  .title {
    font-size: 64px;
    line-height: 64px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: var(--color-text);
  margin-bottom: 50px;
}
@media (min-width: 1440px) {
  .subtitle {
    margin-bottom: 90px;
  }
}

.arrow {
  margin-right: 20px;
}
.arrow:hover, .arrow:focus {
  border: 1px solid var(--color-text);
  border-radius: 8px;
}

.conteiner_title p {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--color-text-accent);
  margin-top: 50px;
}
@media (min-width: 1440px) {
  .conteiner_title p {
    margin-top: 90px;
  }
}

.hero_buner {
  position: relative;
}

.hero_button {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-fon);
  padding: 30px 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text);
}
.hero_button:hover, .hero_button:focus {
  border: 1px solid var(--color-text);
}

.about_company {
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .about_company {
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .about_company {
    margin-bottom: 120px;
  }
}

@media (min-width: 1440px) {
  .conteiner_about-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 70px 0px 100px;
  }
}

.box_images {
  display: none;
}
@media (min-width: 1440px) {
  .box_images {
    display: block;
    position: relative;
    width: 560px;
    height: 435px;
  }
}

.foto1 {
  position: absolute;
  top: 0;
  left: 0;
}

.foto2 {
  position: absolute;
  top: 30px;
  right: 0;
}

.foto3 {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 1440px) {
  .box_text {
    max-width: 50%;
    margin-left: 30px;
  }
}

.text {
  overflow: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-text-content);
  margin-top: 20px;
}

.about_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-text);
  margin-top: 44px;
  padding: 30px 50px;
}
.about_button:hover, .about_button:focus {
  border: 1px solid var(--color-text);
}

.tasks {
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .tasks {
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .tasks {
    margin-bottom: 120px;
  }
}

.conteiner_tasks {
  margin-top: 60px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .conteiner_tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .conteiner_tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.tasks_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .tasks_content {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .tasks_content {
    width: 30%;
  }
}

.progects {
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .progects {
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .progects {
    margin-bottom: 120px;
  }
}

.conteiner_progects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  gap: 30px;
}

.progect_block {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .progect_block {
    width: initial !important;
  }
}
@media (min-width: 1440px) {
  .progect_block {
    width: initial !important;
  }
}
.progect_block:hover .progect_thumb::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.progect_block:hover .progect_thumb-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.progect_thumb {
  position: relative;
  overflow: hidden;
}
.progect_thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.progect_thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-fon);
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  padding: 20px 50px;
  opacity: 0;
}

.progect_thumb-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-fon);
}

.box_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.progects_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-text);
  padding: 30px 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--color-fon);
  margin-top: 30px;
}
.progects_button:hover, .progects_button:focus {
  background-color: var(--color-text-accent);
}

.feedback {
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .feedback {
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .feedback {
    margin-bottom: 120px;
  }
}

.conteiner_feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

form {
  width: 100%;
}
@media (min-width: 1440px) {
  form {
    width: 50%;
  }
}

.form_input {
  cursor: pointer;
  height: 40px;
  width: 90%;
  padding-left: 15px;
  margin-bottom: 5px;
  background: var(--color-fon);
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17, 43px;
}
.form_input:hover, .form_input:focus {
  outline: 0;
  border: 1px solid var(--color-text);
  border-radius: 4px;
}

.form_textarea {
  cursor: pointer;
  resize: none;
  width: 90%;
  height: 120px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17, 43px;
  background: var(--color-fon);
  border: none;
  padding: 12px 16px;
}
.form_textarea:hover, .form_textarea:focus {
  outline: 0;
  border: 1px solid var(--color-text);
  border-radius: 4px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .form_textarea {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .form_textarea {
    width: 100%;
  }
}

.feedback_img {
  width: 50%;
  display: none;
}
@media (min-width: 1440px) {
  .feedback_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 750px;
  }
}

.checkbox_text {
  position: relative;
  color: var(--color-text);
  width: 90%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17, 43px;
}

footer {
  background-color: var(--color-text);
  padding: 58px 0 0 0;
}

.conteiner_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .conteiner_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (min-width: 1440px) {
  .conteiner_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer_logo {
  display: none;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .footer_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .footer_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer_text {
  color: var(--color-fon);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 5px;
}
.footer_text:hover, .footer_text:focus {
  border: 1px solid var(--color-text-accent);
  border-radius: 8px;
}

.footer_text-first {
  color: var(--color-fon);
  font-weight: 700;
  font-size: 16px;
  line-height: 19.92px;
}

.block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .block_text {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  .block_text {
    width: 25%;
  }
}

.box_socio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.block_first {
  display: none;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .block_first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .block_first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.conteiner_rights-reserved {
  text-align: center;
}

.rights_reserved {
  color: var(--color-text-accent);
  padding: 24px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}/*# sourceMappingURL=main.css.map */