@font-face {
  font-family: 'TT Hoves';
  src:url("assets/font/TTHoves-Bold.woff2"),
    url('assets/fonts/TTHoves-Bolt.woff') ;  
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'TT Hoves';
  src: url("assets/font/TTHoves-Medium.woff2"),
    url('assets/fonts/TTHoves-Medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'TT Hoves';
  src: url("font/TTHoves-Regular.woff2"),
    url('assets/fonts/TTHoves-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'TT Hoves';
  src: url("font/TTHoves-Light.woff2"),
    url('fonts/TTHoves-Light.woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'TT Hoves','Arial',sans-serif;  
}

body {  
  background-color: var(--color-fon);
  color: var(--color-text);  
  text-decoration: none;
  margin:0;      
}

.conteiner{
  max-width:380px; 
  margin: 0px auto;  
  padding: 5px;
  
  @include _tablet {
    max-width:768px;    
    margin: 0px auto;
    padding: 0 50px;
  }

  @include _desctop {
    max-width:1440px;
    margin: 0px auto;
    padding: 0 135px;    
  }
}

.img_conteiner{
  overflow: hidden;
  text-align: center;
}

img{
  background-size: 100% auto;   
}
  
.action_button{
  position: relative;
}
.action_button:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 42px;
	background: rgba(#333333,0.3);	
	transition: all 1s ease;
}

.action_button:hover:before,.action_button:focus:before {
	width: 100%;
  height: 100%;
}
  
  