
.about_company{
    margin-bottom: 50px;
    @include _tablet {
       margin-bottom: 50px;
    }
     
    @include _desctop {
        margin-bottom: 120px;
    } 
}

.conteiner_about-company{
    @include _desctop {
        display: flex;
        justify-content: space-between;             
        align-items: center; 
        padding: 30px 70px 0px 100px
    } 
}

.box_images{
    display: none;
    
    @include _desctop {
        display: block;
        position: relative;
        width: 560px;
        height: 435px;   
    }     
}

.foto1{
    position: absolute;
    top: 0;
    left: 0;
}
.foto2{
    position: absolute;
    top: 30px;
    right: 0;
}
.foto3{
    position: absolute;
    bottom: 0;
    left: 0;
}



.box_text{
   
    @include _desctop {
       max-width: 50%; 
        margin-left: 30px;
    }     
}

.text{   
    overflow: auto;
    font-weight: 400;
    font-size: 16px;
    line-height:25px;
    color: var(--color-text-content);
    margin-top: 20px;
}

.about_button{   
    display: flex;
    gap:12px;
    align-items: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color:var(--color-text);
    margin-top: 44px; 
    padding: 30px 50px;     
}

